In [17]:
# This should be roughly the content of the first code cell
import numpy as np
import random
np.random.seed(1337)
random.seed(1337)

In [18]:
# Plotting support
from matplotlib import pyplot as plt
# Standard libraries
import pandas as pd
import sklearn as sk
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing
from sklearn import metrics

In [19]:
df1 = pd.read_csv("elections_clean.csv")
df = df1[['democrat', 'county', 'state', 'education', 'religion', 'ethnic_male','ethnic_female','per_capita_inc', 'deep_pov_all']]
df.dropna(inplace = True)
df

/var/folders/dz/ffb7x_vj5vl9758_4vqfvj3m0000gn/T/ipykernel_79216/2624892796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

,democrat,county,state,education,religion,ethnic_male,ethnic_female,per_capita_inc,deep_pov_all
0,0,Sioux County,NE,Educated,CHRISTIAN GENERIC,MULTI MALE RATE,NATIVE AMERICAN FEMALE RATE,0.632577,0.034402
1,1,Baltimore city,MD,Educated,OTHER MISC,WHITE MALE RATE,WHITE FEMALE RATE,0.175301,0.120282
2,1,Chittenden County,VT,Educated,MAINLINE CHRISTIAN,ASIAN MALE RATE,BLACK FEMALE RATE,1.722184,0.056108
3,0,Prince of Wales-Hyder Census Area,AK,Uneducated,OTHER MISC,BLACK MALE RATE,BLACK FEMALE RATE,0.118294,0.063867
4,0,St. Johns County,FL,Educated,MAINLINE CHRISTIAN,BLACK MALE RATE,BLACK FEMALE RATE,2.295051,0.042655
...,...,...,...,...,...,...,...,...,...
3140,0,Clinton County,MO,Educated,CATHOLIC,MULTI MALE RATE,BLACK FEMALE RATE,0.218274,0.056540
3141,0,Union County,AR,Uneducated,MAINLINE CHRISTIAN,BLACK MALE RATE,BLACK FEMALE RATE,-0.377396,0.103015
3142,0,Garfield County,NE,Educated,MAINLINE CHRISTIAN,MULTI MALE RATE,BLACK FEMALE RATE,-0.372484,0.028213
3143,0,Greene County,IN,Uneducated,MAINLINE CHRISTIAN,MULTI MALE RATE,NATIVE AMERICAN FEMALE RATE,-0.275662,0.061139
3144,0,Morton County,ND,Educated,MAINLINE CHRISTIAN,NATIVE AMERICAN MALE RATE,NATIVE AMERICAN FEMALE RATE,1.092836,0.030785

In [20]:
# Put the target coloum to the last column of df
target = 'deep_pov_all'
df['target'] = df[target]
df.drop([target], axis = 1, inplace = True)
df.drop(['democrat'], axis = 1, inplace = True)

/var/folders/dz/ffb7x_vj5vl9758_4vqfvj3m0000gn/T/ipykernel_79216/3304235216.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df[target]
/var/folders/dz/ffb7x_vj5vl9758_4vqfvj3m0000gn/T/ipykernel_79216/3304235216.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop([target], axis = 1, inplace = True)
/var/folders/dz/ffb7x_vj5vl9758_4vqfvj3m0000gn/T/ipykernel_79216/3304235216.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['democrat'], axis = 1, inplace = True)

In [21]:
# Use label encoder to transform the non-categorical data to categorical data
LableEncoder = preprocessing.LabelEncoder()
df = df.apply((LableEncoder.fit_transform))
df

,county,state,education,religion,ethnic_male,ethnic_female,per_capita_inc,target
0,1542,29,0,3,3,3,2253,311
1,92,20,0,11,5,4,1802,2896
2,331,46,0,5,0,0,2695,1163
3,1368,0,1,11,1,0,1737,1508
4,1576,9,0,5,1,0,2772,596
...,...,...,...,...,...,...,...,...
3140,359,24,0,2,3,0,1851,1183
3141,1715,2,1,5,1,0,1083,2722
3142,621,29,0,5,3,0,1091,153
3143,686,15,1,5,3,3,1213,1401
3144,1150,28,0,5,4,3,2522,206

problem 6.1

In [22]:
#split trainning and testing samples
df_train = df.sample(frac=0.7, random_state=0)
df_test=df.drop(df_train.index)
X_train = df_train.iloc[:,:-1]
y_train = df_train.drop(X_train.keys(), axis = 1)

X_test = df_test.iloc[:,:-1]
y_test = df_test.drop(X_test.keys(), axis = 1)

print(X_train.shape)
print(X_test.shape)

(2198, 7)
(942, 7)

In [23]:
# Train the tree
regr_tree = DecisionTreeRegressor(random_state=0)
regr_tree.fit(X_train, y_train)
predictions = regr_tree.predict(X_test)

In [24]:
# Testing
y_test = np.array(y_test).flatten()
# testing score
regr_tree.score(X_test,y_test)

0.04232767673566906

problem 6.2

    I have tested the maximum depth of the tree from one to ten.
    By prepruning I found that cross Vaildation gives the highest average value when the max_depth of the tree is equal to 5. 
    So I think the tree with max_depth of 5 is the best regression tree.

In [25]:
m_depth = 5
num_sum_section = int(len(df)/5)
section1 = df.iloc[:num_sum_section]
section2 = df.iloc[num_sum_section:num_sum_section*2]
section3 = df.iloc[num_sum_section*2:num_sum_section*3]
section4 = df.iloc[num_sum_section*3:num_sum_section*4]
section5 = df.iloc[num_sum_section*4:num_sum_section*5]

#sec

In [26]:
df2 = pd.concat([section2,section3,section4,section5])
X_train = df2.iloc[:,:-1]
y_train = df2.drop(X_train.keys(), axis = 1)
X_test = section1.iloc[:,:-1]
y_test = section1.drop(X_test.keys(), axis = 1)
# Train the tree
regr_tree1 = DecisionTreeRegressor(random_state=0, max_depth = m_depth)
regr_tree1.fit(X_train, y_train)
predictions = regr_tree1.predict(X_test)
# Testing
score1 = regr_tree1.score(X_test,y_test)
print(score1)

0.44454294948102513

In [27]:
df2 = pd.concat([section1,section3,section4,section5])
X_train = df2.iloc[:,:-1]
y_train = df2.drop(X_train.keys(), axis = 1)
X_test = section2.iloc[:,:-1]
y_test = section2.drop(X_test.keys(), axis = 1)
# Train the tree
regr_tree2 = DecisionTreeRegressor(random_state=0, max_depth = m_depth)
regr_tree2.fit(X_train, y_train)
predictions = regr_tree2.predict(X_test)
# Testing
score2 = regr_tree2.score(X_test,y_test)
print(score2)

0.45448246553275484

In [28]:
df2 = pd.concat([section1,section2,section4,section5])
X_train = df2.iloc[:,:-1]
y_train = df2.drop(X_train.keys(), axis = 1)
X_test = section3.iloc[:,:-1]
y_test = section3.drop(X_test.keys(), axis = 1)
# Train the tree
regr_tree3 = DecisionTreeRegressor(random_state=0, max_depth = m_depth)
regr_tree3.fit(X_train, y_train)
predictions = regr_tree3.predict(X_test)
# Testing
score3 = regr_tree3.score(X_test,y_test)
print(score3)

0.4108973722252067

In [29]:
df2 = pd.concat([section1,section2,section3,section5])
X_train = df2.iloc[:,:-1]
y_train = df2.drop(X_train.keys(), axis = 1)
X_test = section4.iloc[:,:-1]
y_test = section4.drop(X_test.keys(), axis = 1)
# Train the tree
regr_tree4 = DecisionTreeRegressor(random_state=0, max_depth = m_depth)
regr_tree4.fit(X_train, y_train)
predictions = regr_tree4.predict(X_test)
# Testing
score4 = regr_tree4.score(X_test,y_test)
print(score4)

0.4969586210907002

In [30]:
df2 = pd.concat([section1,section2,section3,section4])
X_train = df2.iloc[:,:-1]
y_train = df2.drop(X_train.keys(), axis = 1)
X_test = section5.iloc[:,:-1]
y_test = section5.drop(X_test.keys(), axis = 1)
# Train the tree
regr_tree5 = DecisionTreeRegressor(random_state=0, max_depth = m_depth)
regr_tree5.fit(X_train, y_train)
predictions = regr_tree5.predict(X_test)
# Testing
score5 = regr_tree5.score(X_test,y_test)
print(score5)

0.4761027404166871

In [31]:
mean = (score1+score2+score3+score4+score5)/5
mean

0.45659682974927485